.env

# TTRSS - 阅读器
ttrss/postgres/data/

# Komga - 漫画
komga/config

# docker-embyhack - Emby 私服
docker-embyhack/.git/
docker-embyhack/README.md
docker-embyhack/working.jpg
docker-embyhack/embyhack/config
docker-embyhack/embyhack/nginx
docker-embyhack/embyhack/thumbnails
docker-embyhack/embyhack/ca-certificates.crt
docker-embyhack/embyhack/crypto.js
docker-embyhack/embyhack/docker-embyhack-ca-certificates.crt
docker-embyhack/embyhack/emby-ca-certificates.crt
docker-embyhack/embyhack/nginx.archive

# AList - 网盘挂载
alist/list/

# qbittorrent - 磁链下载
qbittorrent/config

# AudioNotes
# audionotes/modelscope
# audionotes/postgresql
# audionotes/storage
audionotes/

# jellyfin
jellyfin/cache
jellyfin/config

# rsstt
rsstt/config
rsstt/log


# Postgresql
postgresql/data/

# Suwayomi
suwayomi/data/

# dockge
dockge/data/

# archive-box
archive-box/

# code
code/

# code
code-server/

#qinglong 
qinglong/data/

rss-reader/config.json