.env

# TTRSS
ttrss/postgres/data/

# Komga
komga/config

# Emby
emby/.git/
emby/README.md
emby/working.jpg
emby/embyhack/config
emby/embyhack/nginx
emby/embyhack/thumbnails
emby/embyhack/ca-certificates.crt
emby/embyhack/crypto.js
emby/embyhack/emby-ca-certificates.crt

